html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px black;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(109, 3, 24) 100%);
}

.screen {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px black;
  font-family: monospace;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#you-win-screen {
  background-image: url("./Materials/Castle\ Ruins\ 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: arial;
}

#you-win-screen h2 {
  font-size: 60px;
  color: yellow;
  
}

#start-screen,
#game-over-screen {
  background-color: #503e3e;
  background-image: url("./Materials/background4b.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: monospace;
}

#start-screen h1 {
  font-size: 80px;
  letter-spacing: 1rem;
  color: rgb(200, 21, 21);
  border: none;
  margin: none;
  padding: none;
}

#start-screen h3 {
  font-size: 24px;
  color: white;
}

#start-screen p {
  max-width: 600px;
  text-align: center;
  font-size: 16px;
  color: white;
}

button {
  border: none;
  background-color: rgb(200, 21, 21);
  font-family: inherit;
  font-weight: bold;
  margin-top: 25px;
  padding: 8px;
  border-radius: 2px;
  color: white;
}

h2 {
    font-size: 60px;
    letter-spacing: .5rem;
    color: rgb(200, 21, 21);
    border: none;
    margin: none;
    padding: none;
}

